*{
    padding: 0;
    margin: 0;
}
/* Background for whole webpage */
html {
    background-color: beige;
    overflow-y: scroll;
}    

/* Navigation Menu */
.menu{
    margin-left: 20px;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 38, 38);
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.menu a.active {
    background-color: #989898;
    color: white;
  }
.menu ul{
    list-style-type: none;
}
.menu li {
    float: left;
}
.menu li a {
    font-size: larger;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    height: max-content;
    vertical-align: middle;
}
.menu span{
    vertical-align: middle;
}
.menu img{
    height: 40px;
    width: 40px;
}
.menu li a:hover {
    background-color: #111;
}