*{
    padding: 0;
    margin: 0;
}
/* Background for whole webpage */
html {
    background-color: beige;
    overflow-y: scroll;
}    


.top{
    width: 100%;
    height: auto;
    min-height: 1000px;
    display: flex;
    flex-direction: column;

    /* background of top */
    background-image: url("../images/top_background.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;      
    
    
}

/* Navigation Menu */
.menu{
    margin-left: 20px;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 38, 38);
    display: flex;
    flex-direction: row;
}
.menu ul{
    list-style-type: none;
}
.menu li {
    float: left;
}
.menu li a {
    font-size: larger;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    height: max-content;
    vertical-align: middle;
}
.menu span{
    vertical-align: middle;
}
.menu img{
    height: 40px;
    width: 40px;
}
.menu li a:hover {
    background-color: #111;
}


/* Title and mini description */

.top h1{
    color: white;
    font-size: 100px;
    margin-top: 400px;
    text-align: center;
}

.top h3{
    color: white;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

/* Spacer between divs */
.spacer{
    width: 100%;
    height: 50px;
}

/* Middle of main page */

.middle{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.middle_pics{
    object-fit: contain;
    width: auto;
    height: auto;
    margin: 20px 20px 20px 20px;
}

/* Footer of main page */
.footer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 182, 147);
    justify-content: center;
    align-items: center;
}

.footer .text{
    font-size: larger;
    color: antiquewhite;
    margin: 10px 10px;
}

.footer #small{
    font-size: smaller;
}