*{
    padding: 0;
    margin: 0;
}

.top{
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;

    /* background of top */
    background-image: url("../images/top_background.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;      
    
    
}

/* Navigation Menu */
.menu{
    margin-left: 20px;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 38, 38);
    display: flex;
    flex-direction: row;
}
.menu ul{
    list-style-type: none;
}
.menu li {
    float: left;
}
.menu li a {
    font-size: larger;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    height: max-content;
    vertical-align: middle;
}
.menu span{
    vertical-align: middle;
}
.menu img{
    height: 40px;
    width: 40px;
}
.menu li a:hover {
    background-color: #111;
}


/* Title and mini description */

.top h1{
    color: white;
    font-size: 50px;
    margin-top: 200px;
    text-align: center;
}

.top h3{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}